:root {
    /* Logo Colour Palette */
    --beige: #E3DAC7; 
    --brown: #251D18; 
    --gray: #9A9A9B; 
    --warmBrown: #71542A; 
    --offBlack: #1C181B;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: var(--offBlack);
    color: var(--gray);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--gray);
    text-align: center;
}

p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: var(--gray);
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--beige);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--brown);
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: var(--warmBrown);
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--brown);
    text-decoration: none;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#restaurantList {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: var(--brown);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--warmBrown);
}